body{
    display: grid;
    place-items: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}

.contenedor2{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    width: 70%;
    text-align: center;
    background-color: green;
    color: white;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size: 2em;
    font-style: italic;
}

.texto{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 10px;
}